@model IEnumerable<CarRental.Models.Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Table</h3>
                    <p class="text-subtitle text-muted">For user to check they list</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Table</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Hoverable rows start -->
        <section class="section">
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- Dropdown Lọc Trạng Thái -->
                         @*    <div class="row mb-3">
                                <div class="col-md-4">
                                    <select id="filterStatusDropdown" class="form-control">
                                        <option value="all" selected>-- Tất cả trạng thái --</option>
                                        @foreach (var status in ViewBag.orderstatus)
                                        {
                                                <option value="@status.Value">@status.Text</option>
                                        }
                                    </select>
                                </div>
                            </div> *@


                        </div>
                        <div class="card-content">
                            <!-- Bảng Danh Sách Đơn Hàng -->
                            <div class="table-responsive">
                                <table class="table table-hover mb-0" id="ordersTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã khách hàng</th>
                                            <th>Tên</th>
                                            <th>Tên hiển thị</th>
                                            <th>Email</th>
                                            <th>Ngày sinh</th>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Any())
                                        {
                                            int i = 1;
                                            foreach (var item in Model)
                                            {
                                                        <tr data-status-id="@item.CustomerId">
                                                            <td class="text-bold-500">@(i++)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
                                                            <td class="text-bold-500">@Html.DisplayFor(modelItem => item.FullName)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => item. Email)</td>
                                                            <td>
                                                                @(item.DateofBirth.HasValue
                                                                    ? item.DateofBirth.Value.ToString("dd-MM-yyyy")
                                                                    : "N/A")
                                                            </td>
                                                            <td>
                                                                @* <a asp-controller="Orders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-success">Sửa</a> *@
                                                                <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-info">Chi tiết</a>
                                                                @* <a asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger">Xóa</a> *@
                                                            </td>
                                                        </tr>
                                            }
                                        }
                                        else
                                        {
                                                <tr>
                                                    <td colspan="6" class="text-center text-muted">Không có đơn hàng nào được tìm thấy.</td>
                                                </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
   ;
        </script>

        <!-- Hoverable rows end -->
        <!-- Contextual classes start -->

    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
                <p>
                    Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                </p>
            </div>
        </div>
    </footer>
</div>