@model IEnumerable<CarRental.ViewModels.OrderDetailVM>
@using CarRental.Utilities;
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb Area Start Here -->
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3" style="color:white">Chi tiết đơn hàng</h3>
                    <ul>
                        <li><a href="index.html" style="color:white">Home</a></li>
                        <li style="color:white">Chi tiết đơn hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- cart main wrapper start -->
<div class="cart-main-wrapper mt-no-text" style="margin-bottom:100px">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-12 col-custom">
                <!-- Cart Table Area -->
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Hình ảnh</th>
                                <th class="pro-title">Tên xe</th>
                                <th class="pro-price">Ngày nhận xe</th>
                                <th class="pro-price">Ngày trả xe</th>
                                <th class="pro-quantity">Số lượng</th>
                                
                                @* <th class="pro-remove">Huỷ</th *@>  
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model) {
                                <tr>
                                    <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="@item.Image" alt="Product" /></a></td>
                                    <td class="pro-title"><a href="#"> @item.CarName</a></td>
                                    <td class="pro-price"><span>@item.pickupDate.ToString("dd-MM-yyyy")</span></td>
                                    <td class="pro-price"><span>@item.returnDate.ToString("dd-MM-yyyy")</span></td>
                                    <td class="pro-quantity">
                                        <div class="quantity">
                                            <p>@item.Quantity</p>
                                        </div>
                                    </td>
                                    @* <td class="pro-subtotal"><span>$@item.Total</span></td> *@
                                    @* <td class="pro-remove"><a href="#"><i class="lnr lnr-trash"></i></a></td> *@
                                </tr>
                            }
                            
                           
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 ml-auto col-custom">
                <!-- Cart Calculation Area -->
                <div class="cart-calculator-wrapper">
                    <div class="cart-calculate-items">
                        <h3>Địa chỉ nhận hàng</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>Tên người nhận</td>
                                    <td>@Function._UserName</td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại</td>
                                    <td>@Function._Phone</td>
                                </tr>
                                <tr class="total">
                                    <td>Địa chỉ</td>
                                    <td class="total-amount">@Function._address</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <a href="checkout.html" class="btn flosun-button primary-btn rounded-0 black-btn w-100">Trả lại đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart main wrapper end -->

